# Traefik Static Configuration
api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"

  traefik:
    address: ":8180"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: proxy

  file:
    directory: "/etc/traefik/dynamic"
    watch: true

log:
  level: INFO

accessLog:
  filePath: "/var/log/traefik/access.log"
